{% extends 'base.html' %}
{% block content %}
  <main id="main" class="main">
    <div class="pagetitle">
      <h1>Assignment</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item">Assignment</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->
    <section class="section profile">
      <div class="row">
        <div class="col-xl-12">
          <div class="card">
            <div class="card-body pt-3">
              <!-- Bordered Tabs -->
              <div class="tab-content pt-2">
                <section class="section dashboard">
                    <div class="row">
                        <!-- Left side columns -->
                        <div class="col-lg-12">
                            <div class="card">
                              <div class="card-body">
                                <h5 class="card-title">Assignment</h5>
                                <!-- Default Table -->
                                <form method="post">
                                {% csrf_token %} 
                                    <div class="row mb-3">
                                        <label for="tname" class="col-sm-2 col-form-label">Name</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" name="tname">
                                        </div>
                                    </div>
                                    <!-- <div class="row mb-3">
                                        <label for="upfile" class="col-sm-2 col-form-label">File</label>
                                        <div class="col-sm-10">
                                          <input type="file" class="form-control" name="file">
                                        </div>
                                    </div> -->
                                    <div class="row mb-3">
                                        <label for="titles" class="col-sm-2 col-form-label">Title</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" name="titles">
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                      <label for="des" class="col-sm-2 col-form-label">Description</label>
                                      <div class="col-sm-10">
                                          <input type="text" class="form-control" name="des">
                                      </div>
                                  </div>
                                  <div class="row mb-3">
                                    <label for="asgn" class="col-sm-2 col-form-label">Assign By</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="asgn">
                                    </div>
                                </div>
                                    <div class="row mb-3">
                                      <label for="up" class="col-sm-2 col-form-label">Upload Date</label>
                                      <div class="col-sm-10">
                                          <input type="date" class="form-control" name="up">
                                      </div>
                                  </div>
                                    <div class="row mb-3">
                                        <div class=" d-flex col-sm-12 justify-content-center">
                                          <button type="submit" class="btn btn-primary">Add</button>
                                        </div>
                                      </div>
                                </form>
                                <!-- End Default Table Example -->
                              </div>
                            </div>
                          </div><!-- End Left side columns -->
        
                    </div>
                </section>
                </div>

              </div><!-- End Bordered Tabs -->

            </div>
          </div>

        </div>
      </div>
    </section>
  </main><!-- End #main -->
{%endblock%}